.hero {
    height: 200px;
    background: url("/static/images/header.jpg") center / cover no-repeat;
}

.logo {
    display: block;
    width: 135px;
    height: 47px;
    background: url("/static/images/logo.png") center / contain no-repeat;
}