{% extends 'base.html' %}
{% block title %}Atsakymas{% endblock %}
{% block content %}

<p><strong>Užduotis: </strong>{{ answer.task }}</p>
<p><strong>Studentas: </strong>{{ answer.student }}</p>
<p><strong>Data: </strong>{{ answer.date }}</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Atsakymas</th>
            <th>Ar gerai atsakė</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ answer.answer_display }}</td>
            <td>{{ answer.correct_display }}</td>
        </tr>
    </tbody>
</table>

{% if user.is_staff %}
<div class="mb-2">
    <a class="btn btn-danger" href="{% url 'answer_delete' answer.pk %}">Ištrinti</a>
</div>
{% endif %}

{% endblock %}