{% extends 'base.html' %}
{% block title %}Statistika{% endblock %}
{% block content %}

<h1 class="mb-4">Mano pažanga</h1>

<p class="text-muted mb-4">
Šiame puslapyje galite matyti savo užduočių sprendimo statistiką.
Čia rodoma, kiek užduočių jau atlikote, kiek atsakymų buvo teisingi ar neteisingi,
bei kiek jų buvo pateikta pavėluotai ir galėjo būti neužskaityti.
Tai padeda jums įsivertinti savo mokymosi pažangą.
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Kategorija</th>
            <th>Skaičius</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Užduočių skaičius</td>
            <td>{{ num_task }}</td>
        </tr>
        <tr>
            <td>Atliktos užduotys</td>
            <td>{{ num_answers_done }}</td>
        </tr>

        <tr>
            <td class="text-success">Teisingi atsakymai</td>
            <td class="text-success">{{ correct_answers }}</td>
        </tr>
        <tr>
            <td class="text-danger">Neteisingi atsakymai</td>
            <td class="text-danger">{{ incorrect_answers }}</td>
        </tr>
        <tr>
            <td class="text-warning">Neužskaityti atsakymai</td>
            <td class="text-warning">{{ late_answers }}</td>
        </tr>
        <tr>
            <td>Apsilankymų skaičius</td>
            <td>{{ num_visits }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}