{% extends 'base.html' %}
{% block title %}Statistika{% endblock %}
{% block content %}

<h1 class="mb-4">Jūsų statistika:</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Pavadinimas</th>
            <th>Bendras skaičius</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Užduočių skaičius</td>
            <td>{{ num_task }}</td>
        </tr>
        <tr>
            <td>Atliktos užduotys</td>
            <td>{{ num_answers_done }}</td>
        </tr>

        <tr>
            <td class="text-success">Teisingi atsakymai</td>
            <td class="text-success">{{ correct_answers }}</td>
        </tr>
        <tr>
            <td class="text-danger">Neteisingi atsakymai</td>
            <td class="text-danger">{{ incorrect_answers }}</td>
        </tr>
        <tr>
            <td class="text-warning">Neužskaityti atsakymai</td>
            <td class="text-warning">{{ late_answers }}</td>
        </tr>
        <tr>
            <td>Apsilankymų skaičius</td>
            <td>{{ num_visits }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}