{% extends 'base.html' %}
{% block title %}Mano atsakymai{% endblock %}
{% block content %}

<h1 class="mb-4">Mano atsakymai</h1>

<p class="text-muted mb-4">
Šiame puslapyje pateikiami visi jūsų pateikti atsakymai į užduotis.
Čia galite matyti, kada atsakymas buvo pateiktas bei ar jis buvo teisingas, neteisingas ar neužskaitytas.
Tai leidžia jums įsivertinti savo žinias ir pažangą.
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Užduotis</th>
            <th>Data</th>
            <th>Atsakymas</th>
        </tr>
    </thead>
    <tbody>
        {% for answer in answers %}
        <tr>
            <td>
                <a href="{% url 'answer' answer.pk %}">
                    {{ answer.task }}
                </a>
            </td>
            <td>{{ answer.date }}</td>
            <td>
                {% if answer.task.deadline and answer.date > answer.task.deadline %}
                    <span class="text-warning">Neužskaityta</span>
                {% elif answer.is_correct %}
                    <span class="text-success">Taip</span>
                {% else %}
                    <span class="text-danger">Ne</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}